src/main/webapp/markdowns/*
!src/main/webapp/markdowns/README.md

target/
node_modules/
**/.DS_store
.idea/
solo.iml
*.log
/.settings/
/.classpath
/.project
/src/main/webapp/baidu_verify_YR3TetzNR9.html
/src/main/webapp/baidu_verify_STgGCk66dn.html
/src/main/webapp/jd_root.txt
