.wrapper {
  font-size: 17px;
  font-family: sans-serif, Avenir, -apple-system-font, 微软雅黑;
}
.wrapper p {
  font-size: 17px;
  white-space: pre-line;
  line-height: 35px;
  color: #111111;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.wrapper blockquote {
  line-height: 22px;
}
.wrapper blockquote p {
  font-size: 17px;
}
.wrapper h1 {
  font-size: 28px;
}
.wrapper h2 {
  font-size: 24px;
}
.wrapper h3 {
  font-size: 20px;
}
.wrapper h4 {
  font-size: 18px;
}

.wrapper ul li span, .wrapper ol li span {
  line-height: 22px;
/*  font-size: 14px !important;*/
}
